LibraryDemo/Service References/remoteSoap/RemoteLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddThis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddThisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddThisResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddThisSoapIn">
    <wsdl:part name="parameters" element="tns:AddThis" />
  </wsdl:message>
  <wsdl:message name="AddThisSoapOut">
    <wsdl:part name="parameters" element="tns:AddThisResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteLibrarySoap">
    <wsdl:operation name="AddThis">
      <wsdl:input message="tns:AddThisSoapIn" />
      <wsdl:output message="tns:AddThisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteLibrarySoap" type="tns:RemoteLibrarySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddThis">
      <soap:operation soapAction="http://tempuri.org/AddThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteLibrarySoap12" type="tns:RemoteLibrarySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddThis">
      <soap12:operation soapAction="http://tempuri.org/AddThis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteLibrary">
    <wsdl:port name="RemoteLibrarySoap" binding="tns:RemoteLibrarySoap">
      <soap:address location="http://soapexample.azurewebsites.net/RemoteLibrary.asmx" />
    </wsdl:port>
    <wsdl:port name="RemoteLibrarySoap12" binding="tns:RemoteLibrarySoap12">
      <soap12:address location="http://soapexample.azurewebsites.net/RemoteLibrary.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>